.info-box-big {
	display: flex;
	align-items: center;
}

.info-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%;
}

.info-box2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 70%;
}

.info-box div {
	font-size: 0.8rem;
	font-weight: bold;
}
.info-box2 div {
	font-size: 0.8rem;
	font-weight: bold;
}
